/* Style sheet customization goes here */

a.reference {
  border-bottom-color: #CD823F;
  border-bottom-style: solid;
}

.navbar-default {
  background-color: #15125F
}

.navbar-default .navbar-nav > li > a {
  color: #EDA668;
}

body {
  background-color: #5956A5
}

.well {
  background-color: #838707;
}

table.organizers {
  margin-top: 15ex;
  border: none;
}

table.organizers tr td:first-child {
    text-align: right;
    padding-right: 2em;
}

table.organizers img {
  float: right;
}

table.organizers tr td:last-child {
  font-style: oblique;
  /* color: #EDA668; */
  font-size: 15px;
  vertical-align: middle;
}
